
## <summary>policy for catcoin</summary>


########################################
## <summary>
##	Transition to catcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`catcoin_domtrans',`
	gen_require(`
		type catcoin_t, catcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, catcoin_exec_t, catcoin_t)
')


########################################
## <summary>
##	Execute catcoin server in the catcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catcoin_initrc_domtrans',`
	gen_require(`
		type catcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, catcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search catcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catcoin_search_lib',`
	gen_require(`
		type catcoin_var_lib_t;
	')

	allow $1 catcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read catcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catcoin_read_lib_files',`
	gen_require(`
		type catcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, catcoin_var_lib_t, catcoin_var_lib_t)
')

########################################
## <summary>
##	Manage catcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catcoin_manage_lib_files',`
	gen_require(`
		type catcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, catcoin_var_lib_t, catcoin_var_lib_t)
')

########################################
## <summary>
##	Manage catcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catcoin_manage_lib_dirs',`
	gen_require(`
		type catcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, catcoin_var_lib_t, catcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a catcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`catcoin_admin',`
	gen_require(`
		type catcoin_t;
		type catcoin_initrc_exec_t;
		type catcoin_var_lib_t;
	')

	allow $1 catcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, catcoin_t)

	catcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 catcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, catcoin_var_lib_t)

')

