# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit catcoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/catcoin/catcoin.conf

[Unit]
Description=Catcoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/catcoind -daemon -conf=/etc/catcoin/catcoin.conf -pid=/run/catcoind/catcoind.pid
# Creates /run/catcoind owned by catcoin
RuntimeDirectory=catcoind
User=catcoin
Type=forking
PIDFile=/run/catcoind/catcoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
